
.formreset {
    max-width: 400px;
    margin: 0 auto;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    margin-top: 10%;
  }
  .buttonreset{
    width: 100px;
      padding: .4rem 1.5rem;
      background-color: #007bff;
      border: none;
      outline: none;
      border-radius: 3rem;
      cursor: pointer;
      margin-right: 100px;
      color: #ffffff;
  }
  .buttondiv{
    padding-left: 133px;
  }
  p{
    font-size: 12px;
  }
  .mb-3{
    
    padding: 20px;

    background-color: #b6c5c045;
    
  }
  .formreset{
    background-color: #ccc;
  }